In [1]:
# Base libraries
import pandas as pd
import numpy as np

In [2]:
rent = pd.read_csv('properati-BR-2016-11-01-properties-rent.csv')

In [3]:
sell = pd.read_csv('properati-BR-2016-11-01-properties-sell.csv')

# 1. Rent

In [4]:
rent.head()

,created_on,operation,property_type,place_name,state,geonames_id,lat-lon,lat,lon,price,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,04/25/13,rent,apartment,Praia Grande,São Paulo,NaN,NaN,NaN,NaN,900.0,...,NaN,NaN,NaN,NaN,1.0,NaN,http://praia-grande-sao-paulo.properati.com.br...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Praia Grande,NaN
1,04/25/13,rent,apartment,Alphaville,São Paulo,NaN,NaN,NaN,NaN,3200.0,...,NaN,NaN,NaN,NaN,3.0,NaN,http://alphaville-barueri.properati.com.br/q8z...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Barueri,https://thumbs-cf.properati.com/0/Wjq7toq-DpwK...
2,04/25/13,rent,house,Centro,São Paulo,NaN,NaN,NaN,NaN,1800.0,...,NaN,NaN,NaN,NaN,2.0,NaN,http://centro-jundiai.properati.com.br/qe2_alu...,"Otimo Imovel com o melhor valor da regiao, con...",Casa Em Jundiai,NaN
3,04/25/13,rent,apartment,Alphaville,São Paulo,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://alphaville-barueri.properati.com.br/s9p...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Barueri,https://thumbs-cf.properati.com/0/X7PtsZjj8Vqz...
4,04/25/13,rent,apartment,Barueri,São Paulo,NaN,NaN,NaN,NaN,1800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,http://barueri.properati.com.br/s9u_aluga-se_a...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Barueri,https://thumbs-cf.properati.com/9/URn3U3gg-F6C...

In [5]:
rent.shape

(97353, 24)

In [6]:
rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97353 entries, 0 to 97352
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   created_on                  97353 non-null  object
 1   operation                   97353 non-null  object
 2   property_type               97353 non-null  object
 3   place_name                  97353 non-null  object
 4   state                       97353 non-null  object
 5   geonames_id                 3 non-null      float64
 6   lat-lon                     46030 non-null  object
 7   lat                         46030 non-null  float64
 8   lon                         46030 non-null  float64
 9   price                       92334 non-null  float64
 10  currency                    92333 non-null  object
 11  price_aprox_local_currency  92334 non-null  float64
 12  price_aprox_usd             92334 non-null  float64
 13  surface_total_in_m2         15848 non-null  float64
 14  surface_covered_in_m2       75584 non-null  float64
 15  price_usd_per_m2            70415 non-null  float64
 16  price_per_m2                70415 non-null  float64
 17  floor                       5285 non-null   float64
 18  rooms                       58763 non-null  float64
 19  expenses                    31773 non-null  float64
 20  properati_url               97353 non-null  object
 21  description                 97353 non-null  object
 22  title                       97353 non-null  object
 23  image_thumbnail             92224 non-null  object
dtypes: float64(13), object(11)
memory usage: 17.8+ MB

In [7]:
rent = rent[['property_type', 'state', 'price', 'currency', 'price_aprox_usd', 'surface_total_in_m2', 'surface_covered_in_m2']].reset_index(drop=True)

In [8]:
rent.shape

(97353, 7)

In [9]:
rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97353 entries, 0 to 97352
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   property_type          97353 non-null  object
 1   state                  97353 non-null  object
 2   price                  92334 non-null  float64
 3   currency               92333 non-null  object
 4   price_aprox_usd        92334 non-null  float64
 5   surface_total_in_m2    15848 non-null  float64
 6   surface_covered_in_m2  75584 non-null  float64
dtypes: float64(4), object(3)
memory usage: 5.2+ MB

In [10]:
rent.dropna(inplace = True)

In [11]:
rent.shape

(12135, 7)

In [12]:
rent.head()

,property_type,state,price,currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2
148,apartment,Rio de Janeiro,3500.0,BRL,1092.17,52.0,52.0
173,apartment,São Paulo,7500.0,BRL,2367.27,350.0,266.0
202,apartment,São Paulo,1900.0,BRL,599.70,127.0,51.0
209,apartment,São Paulo,4993.0,BRL,1575.97,250.0,160.0
232,apartment,São Paulo,2300.0,BRL,725.96,127.0,51.0

In [13]:
rent['state'].value_counts()

São Paulo              9922
Rio de Janeiro          719
Rio Grande do Sul       294
Minas Gerais            279
Santa Catarina          150
Bahia                   120
Maranhão                113
Paraíba                 110
Distrito Federal        103
Ceará                    67
Piauí                    59
Goiás                    47
Sergipe                  43
Rio Grande do Norte      35
Pernambuco               25
Paraná                   23
Tocantins                10
Alagoas                   8
Espírito Santo            8
Name: state, dtype: int64

In [14]:
rent_group = rent.groupby('state').size()
rent_group

state
Alagoas                   8
Bahia                   120
Ceará                    67
Distrito Federal        103
Espírito Santo            8
Goiás                    47
Maranhão                113
Minas Gerais            279
Paraná                   23
Paraíba                 110
Pernambuco               25
Piauí                    59
Rio Grande do Norte      35
Rio Grande do Sul       294
Rio de Janeiro          719
Santa Catarina          150
Sergipe                  43
São Paulo              9922
Tocantins                10
dtype: int64

In [15]:
rent_group = pd.DataFrame(rent_group, columns = ['no_properties'])
rent_group.reset_index(inplace=True)

In [16]:
# Variable with states with less than 200 properties
rent_group_df = rent_group[rent_group['no_properties']<200]

#Variable with a list of the sstates with less than 200 properties
rent_group2 = list(rent_group_df['state'])
rent_group2

['Alagoas',
 'Bahia',
 'Ceará',
 'Distrito Federal',
 'Espírito Santo',
 'Goiás',
 'Maranhão',
 'Paraná',
 'Paraíba',
 'Pernambuco',
 'Piauí',
 'Rio Grande do Norte',
 'Santa Catarina',
 'Sergipe',
 'Tocantins']

In [17]:
def clean_states_rent(x):
    if x in rent_group2:
        return 'other'
    else:
        return x

rent['state'] = list(map(clean_states_rent, rent['state']))

rent['state'].value_counts()

São Paulo            9922
other                 921
Rio de Janeiro        719
Rio Grande do Sul     294
Minas Gerais          279
Name: state, dtype: int64

In [18]:
# Dropping rows where state is other

rent.drop(rent[rent['state'] == 'other'].index, inplace = True)

rent = rent.reset_index(drop=True)

In [19]:
# Assigning the states to a new column and then sustituting them by the shortname

rent['geolocation_state'] = rent['state']

rent["geolocation_state"].replace({"São Paulo": "SP", "Rio de Janeiro": "RJ","Rio Grande do Sul": "RS","Minas Gerais": "MG"}, inplace=True)

In [20]:
rent.head()

,property_type,state,price,currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,geolocation_state
0,apartment,Rio de Janeiro,3500.0,BRL,1092.17,52.0,52.0,RJ
1,apartment,São Paulo,7500.0,BRL,2367.27,350.0,266.0,SP
2,apartment,São Paulo,1900.0,BRL,599.70,127.0,51.0,SP
3,apartment,São Paulo,4993.0,BRL,1575.97,250.0,160.0,SP
4,apartment,São Paulo,2300.0,BRL,725.96,127.0,51.0,SP

In [21]:
rent.shape

(11214, 8)

In [22]:
rent_new = rent.to_csv(r'/Users/maria/Final_project/Olist/rent_new.csv')

# 2. Sell

In [23]:
sell.head()

,created_on,operation,property_type,place_name,state,geonames_id,lat-lon,lat,lon,price,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,04/25/13,sell,apartment,Mondubim,Ceará,NaN,NaN,NaN,NaN,155900.0,...,NaN,NaN,NaN,NaN,2.0,NaN,http://mondubim.properati.com.br/px9_vende-se_...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Fortaleza,https://thumbs-cf.properati.com/8/EY670SQWML7c...
1,04/25/13,sell,house,Manhuaçu,Minas Gerais,NaN,NaN,NaN,NaN,950000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,http://manhuacu.properati.com.br/pxv_vende-se_...,"Otimo Imovel com o melhor valor da regiao, con...",Casa Em Manhuacu,https://thumbs-cf.properati.com/1/1VGQees9LIbx...
2,04/25/13,sell,house,Ibatiba,Espírito Santo,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://ibatiba.properati.com.br/pxw_vende-se_o...,"Otimo Imovel com o melhor valor da regiao, con...",Sítio Em Ibatiba,NaN
3,04/25/13,sell,apartment,Manhuaçu,Minas Gerais,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://manhuacu.properati.com.br/pxy_vende-se_...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Manhuacu,NaN
4,04/25/13,sell,apartment,Manhuaçu,Minas Gerais,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://manhuacu.properati.com.br/pxz_vende-se_...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Manhuacu,https://thumbs-cf.properati.com/2/UhPHI8dsNCb4...

In [24]:
sell.shape

(872672, 24)

In [25]:
sell.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872672 entries, 0 to 872671
Data columns (total 24 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   created_on                  872672 non-null  object
 1   operation                   872672 non-null  object
 2   property_type               872672 non-null  object
 3   place_name                  872672 non-null  object
 4   state                       872672 non-null  object
 5   geonames_id                 140 non-null     float64
 6   lat-lon                     387227 non-null  object
 7   lat                         387227 non-null  float64
 8   lon                         387227 non-null  float64
 9   price                       819401 non-null  float64
 10  currency                    819382 non-null  object
 11  price_aprox_local_currency  819401 non-null  float64
 12  price_aprox_usd             819401 non-null  float64
 13  surface_total_in_m2         216934 non-null  float64
 14  surface_covered_in_m2       633240 non-null  float64
 15  price_usd_per_m2            589181 non-null  float64
 16  price_per_m2                589181 non-null  float64
 17  floor                       50794 non-null   float64
 18  rooms                       541746 non-null  float64
 19  expenses                    233318 non-null  float64
 20  properati_url               872672 non-null  object
 21  description                 872672 non-null  object
 22  title                       872672 non-null  object
 23  image_thumbnail             834007 non-null  object
dtypes: float64(13), object(11)
memory usage: 159.8+ MB

In [26]:
sell = sell[['property_type', 'state', 'price', 'currency', 'price_aprox_usd', 'surface_total_in_m2', 'surface_covered_in_m2']].reset_index(drop=True)

In [27]:
sell.shape

(872672, 7)

In [28]:
sell.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872672 entries, 0 to 872671
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   property_type          872672 non-null  object
 1   state                  872672 non-null  object
 2   price                  819401 non-null  float64
 3   currency               819382 non-null  object
 4   price_aprox_usd        819401 non-null  float64
 5   surface_total_in_m2    216934 non-null  float64
 6   surface_covered_in_m2  633240 non-null  float64
dtypes: float64(4), object(3)
memory usage: 46.6+ MB

In [29]:
sell.dropna(inplace = True)

In [30]:
sell.shape

(106916, 7)

In [31]:
sell.head()

,property_type,state,price,currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2
792,house,Ceará,5000000.0,BRL,1560257.13,100000.0,1000.0
794,apartment,São Paulo,2000000.0,BRL,631273.27,260.0,180.0
795,apartment,São Paulo,960000.0,BRL,303011.17,160.0,109.0
796,apartment,São Paulo,1300000.0,BRL,410327.63,197.0,130.0
797,apartment,São Paulo,1050000.0,BRL,331418.47,300.0,145.0

In [32]:
sell['state'].value_counts()

São Paulo              56344
Rio Grande do Sul      34588
Rio de Janeiro          3551
Santa Catarina          3492
Minas Gerais            3375
Bahia                   1168
Goiás                    755
Paraíba                  596
Ceará                    592
Distrito Federal         578
Espírito Santo           471
Maranhão                 343
Sergipe                  270
Paraná                   240
Pernambuco               186
Piauí                    142
Rio Grande do Norte       75
Tocantins                 60
Alagoas                   46
Rondônia                  23
Pará                       7
Mato Grosso do Sul         6
Amapá                      4
Mato Grosso                4
Name: state, dtype: int64

In [33]:
sell_group = sell.groupby('state').size()
sell_group

state
Alagoas                   46
Amapá                      4
Bahia                   1168
Ceará                    592
Distrito Federal         578
Espírito Santo           471
Goiás                    755
Maranhão                 343
Mato Grosso                4
Mato Grosso do Sul         6
Minas Gerais            3375
Paraná                   240
Paraíba                  596
Pará                       7
Pernambuco               186
Piauí                    142
Rio Grande do Norte       75
Rio Grande do Sul      34588
Rio de Janeiro          3551
Rondônia                  23
Santa Catarina          3492
Sergipe                  270
São Paulo              56344
Tocantins                 60
dtype: int64

In [34]:
sell_group = pd.DataFrame(sell_group, columns = ['no_properties'])
sell_group.reset_index(inplace=True)

In [35]:
# Variable with states with less than 3000 properties
sell_group_df = sell_group[sell_group['no_properties']<3000]

#Variable with a list of the sstates with less than 3000 properties
sell_group2 = list(sell_group_df['state'])
sell_group2

['Alagoas',
 'Amapá',
 'Bahia',
 'Ceará',
 'Distrito Federal',
 'Espírito Santo',
 'Goiás',
 'Maranhão',
 'Mato Grosso',
 'Mato Grosso do Sul',
 'Paraná',
 'Paraíba',
 'Pará',
 'Pernambuco',
 'Piauí',
 'Rio Grande do Norte',
 'Rondônia',
 'Sergipe',
 'Tocantins']

In [36]:
def clean_states_sell(x):
    if x in sell_group2:
        return 'other'
    else:
        return x

sell['state'] = list(map(clean_states_sell, sell['state']))

sell['state'].value_counts()

São Paulo            56344
Rio Grande do Sul    34588
other                 5566
Rio de Janeiro        3551
Santa Catarina        3492
Minas Gerais          3375
Name: state, dtype: int64

In [37]:
# Dropping rows where state is other

sell.drop(sell[sell['state'] == 'other'].index, inplace = True)

sell = sell.reset_index(drop=True)

In [38]:
# Assigning the states to a new column and then sustituting them by the shortname

sell['geolocation_state'] = sell['state']

sell["geolocation_state"].replace({"São Paulo": "SP", "Rio de Janeiro": "RJ","Rio Grande do Sul": "RS","Minas Gerais": "MG", "Santa Catarina": "SC"}, inplace=True)

In [39]:
sell.head()

,property_type,state,price,currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,geolocation_state
0,apartment,São Paulo,2000000.0,BRL,631273.27,260.0,180.0,SP
1,apartment,São Paulo,960000.0,BRL,303011.17,160.0,109.0,SP
2,apartment,São Paulo,1300000.0,BRL,410327.63,197.0,130.0,SP
3,apartment,São Paulo,1050000.0,BRL,331418.47,300.0,145.0,SP
4,apartment,São Paulo,900000.0,BRL,284072.97,200.0,130.0,SP

In [40]:
sell.shape

(101350, 8)

In [41]:
sell_new = sell.to_csv(r'/Users/maria/Final_project/Olist/sell_new.csv')